<style scoped lang="scss">
.editor__color {
  height: 20px;
  width: 20px;
  border: 1px solid #ccc;
}
</style>


<template>
  <div>
    <div class="flex flex-row items-center mb-3" @click="colorPicker = !colorPicker">
      <span class="editor__color mr-2 cursor-pointer" :style="`background-color: ${state};`"></span>
      <p class="font-light text-sm">{{title}}</p>
    </div>
    <Sketch :value="state" @input="updateColor" v-if="colorPicker" class="text-black mb-3"></Sketch>
  </div>
</template>

<script>
import { Sketch } from "vue-color";

export default {
  name: "EditorColor",
  props: {
    type: String,
    store: String,
    title: String
  },
  components: {
    Sketch
  },
  data: function() {
    return {
      colorPicker: false
    };
  },
  computed: {
    state: {
      get() {
        return this.$store.getters[this.type][this.store];
      },
      set(val) {
        this.$store.dispatch(this.type, { key: this.store, data: val });
      }
    }
  },
  methods: {
    updateColor: function(color) {
      let rgba = `rgba(${color.rgba.r},${color.rgba.g},${color.rgba.b},${
        color.rgba.a
      })`;
      this.$store.dispatch(this.type, {
        key: this.store,
        data: rgba
      });
    }
  }
};
</script>