<style scoped lang="scss">
.options {
  border-right: 1px solid #4a5568;
  &:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  &:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: none;
  }
}
</style>


<template>
  <div class="flex flex-col mb-3">
    <p class="font-light text-sm mb-1 mr-2">{{title}}</p>
    <div class="flex flex-row">
      <span
        v-for="(item, index) in selection"
        :key="index"
        :class="item !== state ? 'options bg-gray-300 text-gray-700 text-sm py-1 px-2 cursor-pointer' : 'options bg-gray-700 text-gray-300 text-sm py-1 px-2'"
        @click="updateState(item)"
      >{{item}}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "EditorSelect",
  props: {
    type: String,
    store: String,
    title: String,
    selection: Array
  },
  computed: {
    state: {
      get() {
        return this.$store.getters[this.type][this.store];
      },
      set(val) {
        this.$store.dispatch(this.type, { key: this.store, data: val });
      }
    }
  },
  methods: {
    updateState(val) {
      this.$store.dispatch(this.type, { key: this.store, data: val });
    }
  }
};
</script>