<style scoped lang="scss">
.editor {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
.editor__menu {
  z-index: 10;
  padding: 20px;
  .editor__inside {
    background: rgba(53, 54, 66, 0.8);
    border-radius: 10px;
  }
  .editor__color {
    height: 20px;
    width: 20px;
    border: 1px solid #ccc;
  }
}
</style>


<template>
  <div class="editor flex h-full min-h-screen" :style="backgroundStyle">
    <div class="p-5 flex flex-row fixed z-10 justify-between w-full">
      <span>
        <span
          @click="edit = !edit"
          v-if="!edit"
          class="py-1 px-2 cursor-pointer bg-gray-500 hover:bg-gray-700 text-white rounded mr-2 text-center mb-1 sm:mb-0 text-xs sm:text-base"
        >Edit</span>
      </span>
      <span class="flex flex-col sm:flex-row" v-if="mode === 'demo'">
        <span
          @click="$router.push('/')"
          class="py-1 px-2 cursor-pointer bg-gray-500 hover:bg-gray-700 text-white rounded mr-2 text-center mb-1 sm:mb-0 text-xs sm:text-base"
        >Try Another Site</span>
        <span
          @click="connectWithPH"
          class="py-1 px-2 cursor-pointer bg-orange-500 hover:bg-orange-700 text-white rounded mr-2 text-center mb-1 sm:mb-0 text-xs sm:text-base"
        >Publish Site</span>
      </span>
      <span class="flex flex-col sm:flex-row" v-if="mode === 'editor'">
        <!-- <span
          @click="remove"
          class="py-1 px-2 cursor-pointer bg-red-500 hover:bg-red-700 text-white rounded mr-2 text-center mb-1 sm:mb-0 text-xs sm:text-base"
        >Delete</span>-->
        <span
          @click="view"
          class="py-1 px-2 cursor-pointer bg-gray-500 hover:bg-gray-700 text-white rounded mr-2 text-center mb-1 sm:mb-0 text-xs sm:text-base"
        >Visit Site</span>
        <span
          @click="$router.push({name:'Dashboard'})"
          class="py-1 px-2 cursor-pointer bg-gray-500 hover:bg-gray-700 text-white rounded mr-2 text-center mb-1 sm:mb-0 text-xs sm:text-base"
        >Dashboard</span>
      </span>
    </div>
    <div class="editor__menu h-screen md:w-3/12 fixed w-full" v-if="edit">
      <div class="editor__inside h-full text-gray-200 py-4 px-4 flex flex-col justify-between">
        <div class="flex flex-col overflow-y-scroll pb-5">
          <p
            v-if="collapse !== ''"
            @click="collapse = ''"
            class="mb-2 cursor-pointer font-medium text-blue-400 hover:underline"
          >Go Back</p>
          <div class="flex flex-col mb-3" v-if="collapse === '' || collapse === 'header'">
            <p
              @click="collapse = 'header'"
              class="cursor-pointer font-semibold mb-1 bg-gray-200 hover:bg-gray-400 rounded py-1 px-2 text-gray-800"
            >Header</p>
            <div v-if="collapse === 'header'">
              <EditorInput type="site" store="title" title="Title"></EditorInput>
              <EditorTextarea type="site" store="tagline" title="Tagline"></EditorTextarea>
              <EditorInput type="site" store="author" title="ProductHunt Username"></EditorInput>
              <EditorInput type="style" store="headerImage" title="Background Image"></EditorInput>
              <EditorSelect
                type="site"
                store="header"
                title="Layout"
                :selection="['center','left']"
              ></EditorSelect>
              <EditorSelect
                type="site"
                store="headerBackground"
                title="Background"
                :selection="['color','image']"
              ></EditorSelect>
              <EditorSelect
                type="site"
                store="headerWidth"
                title="Width"
                :selection="['12/12','10/12','8/12','7/12','6/12']"
              ></EditorSelect>
              <EditorSelect
                type="style"
                store="headerRounded"
                title="Rounded Borders"
                :selection="['rounded-none','rounded']"
              ></EditorSelect>
              <EditorSelect
                type="style"
                store="headerMarginTop"
                title="Margin Top"
                :selection="['mt-0','mt-5', 'mt-10']"
              ></EditorSelect>
              <EditorColor type="style" store="headerColor" title="Background Color"></EditorColor>
              <EditorColor type="style" store="headerOverlay" title="Overlay Color"></EditorColor>
              <EditorColor type="style" store="titleColor" title="Title Color"></EditorColor>
              <EditorColor type="style" store="taglineColor" title="Tagline Color"></EditorColor>
            </div>
          </div>
          <div class="flex flex-col mb-3" v-if="collapse === '' || collapse === 'body'">
            <p
              @click="collapse = 'body'"
              class="cursor-pointer font-semibold mb-1 bg-gray-200 hover:bg-gray-400 rounded py-1 px-2 text-gray-800"
            >Body</p>
            <div v-if="collapse === 'body'">
              <EditorInput type="style" store="backgroundImage" title="Background Image"></EditorInput>
              <EditorSelect
                type="site"
                store="background"
                title="Background"
                :selection="['color','image']"
              ></EditorSelect>
              <EditorSelect
                type="site"
                store="bodyWidth"
                title="Width"
                :selection="['12/12','10/12','8/12','7/12','6/12']"
              ></EditorSelect>
              <EditorColor type="style" store="backgroundColor" title="Background Color"></EditorColor>
            </div>
          </div>
          <div class="flex flex-col mb-3" v-if="collapse === '' || collapse === 'cards'">
            <p
              @click="collapse = 'cards'"
              class="cursor-pointer font-semibold mb-1 bg-gray-200 hover:bg-gray-400 rounded py-1 px-2 text-gray-800"
            >Cards</p>
            <div v-if="collapse === 'cards'">
              <EditorSelect type="site" store="card" title="Layout" :selection="['row','col']"></EditorSelect>
              <EditorSelect type="site" store="cardCol" title="Columns" :selection="['2','3','4']"></EditorSelect>
              <EditorSelect
                type="style"
                store="cardRounded"
                title="Rounded Borders"
                :selection="['rounded-none','rounded']"
              ></EditorSelect>
              <EditorColor type="style" store="cardColor" title="Background"></EditorColor>
              <EditorColor type="style" store="cardPrimaryColor" title="Primary"></EditorColor>
              <EditorColor type="style" store="cardSecondaryColor" title="Secondary"></EditorColor>
              <EditorColor type="style" store="cardButtonColor" title="Button"></EditorColor>
              <EditorColor type="style" store="cardButtonTextColor" title="Button Text"></EditorColor>
            </div>
          </div>
          <div class="flex flex-col mb-3" v-if="collapse === '' || collapse === 'search'">
            <p
              @click="collapse = 'search'"
              class="cursor-pointer font-semibold mb-1 bg-gray-200 hover:bg-gray-400 rounded py-1 px-2 text-gray-800"
            >Search</p>
            <div v-if="collapse === 'search'">
              <EditorInput type="site" store="searchPlaceholder" title="Placeholder"></EditorInput>
              <EditorColor type="style" store="searchColor" title="Background"></EditorColor>
              <EditorColor type="style" store="searchTextColor" title="Text"></EditorColor>
              <EditorColor type="style" store="searchButtonColor" title="Button"></EditorColor>
              <EditorColor type="style" store="searchButtonTextColor" title="Button Text"></EditorColor>
            </div>
          </div>
          <span
            @click="deleteCheck = true"
            v-if="!deleteCheck && collapse === ''"
            class="py-1 px-2 cursor-pointer text-red-500 hover:bg-red-700 hover:text-white rounded mr-2 text-center mb-1 sm:mb-0 text-xs sm:text-base"
          >Delete Site! Careful!</span>
          <span
            @click="remove"
            v-if="deleteCheck"
            class="py-1 px-2 cursor-pointer text-red-500 hover:bg-red-700 hover:text-white rounded mr-2 text-center mb-1 sm:mb-0 text-xs sm:text-base"
          >Are you sure? Click again.</span>
        </div>
        <p
          @click="close"
          class="cursor-pointer py-1 px-2 text-gray-600 bg-gray-200 hover:bg-gray-400 rounded w-12/12 text-center"
        >{{mode === 'editor' ? "Close and Save" : "Close"}}</p>
      </div>
    </div>
    <div class="editor__site w-full">
      <Site></Site>
    </div>
  </div>
</template>

<script>
import axios from "axios";

import Site from "@/components/Site/Site.vue";
import EditorInput from "@/components/Editor/EditorInput.vue";
import EditorTextarea from "@/components/Editor/EditorTextarea.vue";
import EditorColor from "@/components/Editor/EditorColor.vue";
import EditorSelect from "@/components/Editor/EditorSelect.vue";

export default {
  name: "EditorView",
  props: {
    mode: String
  },
  components: {
    Site,
    EditorInput,
    EditorTextarea,
    EditorColor,
    EditorSelect
  },
  data: function() {
    return {
      edit: false,
      id: "",
      slug: "",
      deleteCheck: false,
      collapse: ""
    };
  },
  computed: {
    meta: function() {
      return this.$store.getters["meta"];
    },
    state: function() {
      return this.$store.getters["state"];
    },
    site: function() {
      return this.$store.getters["site"];
    },
    style: function() {
      return this.$store.getters["style"];
    },
    background: function() {
      return this.site.background;
    },
    backgroundColor: function() {
      return this.$store.getters["style"].backgroundColor;
    },
    backgroundImage: function() {
      return this.style.backgroundImage;
    },
    backgroundStyle: function() {
      let background = this.background;
      if (background === "color") {
        return `background-color: ${this.backgroundColor};`;
      }
      if (background === "image") {
        return `background-image: url(${this.backgroundImage});`;
      }
    }
  },
  methods: {
    update: function() {
      let payload = {
        ...this.site,
        ...this.style
      };
      let id = this.$store.getters["meta"].id;
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      axios
        .post(process.env.VUE_APP_API + `/api/site/update/${id}`, payload)
        .then(res => {
          console.log("updated!");
        })
        .catch(e => {
          console.log(e);
        });
    },
    remove: function() {
      let self = this;
      let id = this.$store.getters["meta"].id;
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      axios
        .post(process.env.VUE_APP_API + `/api/site/delete/${id}`)
        .then(res => {
          console.log("deleted!");
          this.$router.push({ name: "Dashboard" });
        })
        .catch(e => {
          console.log(e);
        });
    },
    view: function() {
      let slug = this.$store.getters["meta"].slug;
      this.$router.push({ name: "Site", params: { slug: slug } });
    },
    close: function() {
      this.edit = !this.edit;
      if (this.mode === "editor") {
        this.update();
      }
    },
    connectWithPH: function() {
      let demo = {
        title: this.site.title,
        tagline: this.site.tagline,
        author: this.site.author,
        id: this.meta.id,
        image: this.meta.image,
        content: this.state.list,
        site: this.site,
        style: this.style
      };
      localStorage.setItem("demo", JSON.stringify(demo));
      window.location.href =
        "https://api.producthunt.com/v2/oauth/authorize?client_id=4a0b0515ac8fee8c5a1e32ded60b7864a76d4dc4adf73ef8c45a601b1c9d22e0&redirect_uri=https://social2site.com/api/connect&response_type=code&scope=public+private";
    }
  }
};
</script>