<style scoped lang="scss">
</style>


<template>
  <div>
    <p class="font-light text-sm mb-1">{{title}}</p>
    <textarea
      class="mb-3 text-gray-800 bg-white focus:outline-0 focus:shadow-outline border rounded-lg py-1 px-2 block w-full appearance-none leading-normal text-sm h-15"
      type="text"
      :placeholder="title"
      v-model="state"
    ></textarea>
  </div>
</template>

<script>
export default {
  name: "EditorTextarea",
  props: {
    type: String,
    store: String,
    title: String
  },
  computed: {
    state: {
      get() {
        return this.$store.getters[this.type][this.store];
      },
      set(val) {
        this.$store.dispatch(this.type, { key: this.store, data: val });
      }
    }
  }
};
</script>