<style scoped lang="scss">
.site__header {
  padding: 40px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 200px;
  height: 100%;
  position: relative;
  z-index: 1;
}
.site__header--content {
  padding: 0 40px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  left: 0;
}
.site__header--overlay {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  min-height: 200px;
  left: 0;
}
</style>


<template>
  <div
    :class="`site__header flex flex-row ${headerRounded} ${headerMarginTop}`"
    :style="headerStyle"
  >
    <div class="site__header--content flex justify-center items-center flex-col w-full">
      <h1 class="flex flex-col text-center w-full">
        <span class="text-2xl md:text-4xl font-bold" :style="`color: ${titleColor};`">{{site.title}}</span>
        <span
          v-if="site.tagline !== ''"
          class="sm:text-xl text-sm"
          :style="`color: ${taglineColor};`"
        >{{site.tagline}}</span>
        <a
          v-if="site.author !== ''"
          class="sm:text-lg cursor-pointer text-sm"
          :href="`https://www.producthunt.com/@${site.author}`"
          target="_blank"
          :style="`color: ${taglineColor};`"
        >by {{site.author}}</a>
      </h1>
    </div>
    <div
      v-if="headerBackground === 'image'"
      :class="`site__header--overlay ${headerRounded}`"
      :style="`background: ${headerOverlay}`"
    ></div>
  </div>
</template>

<script>
export default {
  name: "Header",
  computed: {
    site: function() {
      return this.$store.getters["site"];
    },
    style: function() {
      return this.$store.getters["style"];
    },
    titleColor: function() {
      return this.style.titleColor;
    },
    taglineColor: function() {
      return this.style.taglineColor;
    },
    headerColor: function() {
      return this.style.headerColor;
    },
    headerBackground: function() {
      return this.site.headerBackground;
    },
    headerImage: function() {
      return this.style.headerImage;
    },
    headerRounded: function() {
      return this.style.headerRounded;
    },
    headerMarginTop: function() {
      return this.style.headerMarginTop;
    },
    headerOverlay: function() {
      return this.style.headerOverlay;
    },
    headerStyle: function() {
      let headerBackground = this.headerBackground;
      if (headerBackground === "color") {
        return `background-color: ${this.headerColor};`;
      }
      if (headerBackground === "image") {
        return `background-image: url(${this.headerImage});`;
      }
    }
  }
};
</script>