<style scoped lang="scss">
</style>


<template>
  <div class="site__wrapper w-full">
    <div :class="headerPadding">
      <HeaderCenter v-if="headerLayout === 'center'" :class="`mx-auto ${headerWidth}`"></HeaderCenter>
      <HeaderLeft v-if="headerLayout === 'left'" :class="`mx-auto ${headerWidth}`"></HeaderLeft>
    </div>
    <Body :class="`mx-auto ${bodyWidth}`"></Body>
  </div>
</template>

<script>
import Body from "@/components/Site/Body/Body.vue";
import HeaderCenter from "@/components/Site/Header/HeaderCenter.vue";
import HeaderLeft from "@/components/Site/Header/HeaderLeft.vue";

export default {
  name: "Site",
  components: {
    Body,
    HeaderCenter,
    HeaderLeft
  },
  computed: {
    site: function() {
      return this.$store.getters["site"];
    },
    headerLayout: function() {
      return this.site.header;
    },
    headerWidth: function() {
      return `md:w-${this.site.headerWidth}`;
    },
    bodyWidth: function() {
      return `md:w-${this.site.bodyWidth}`;
    },
    headerPadding: function() {
      if (this.site.headerWidth !== "12/12") {
        return "site__wrapper w-full p-2";
      }
      return "site__wrapper w-full";
    }
  }
};
</script>