<style scoped lang="scss">
input:focus {
  outline: none;
}
.editor {
  background: #e6ecf0;
}
.editor__menu {
  padding: 20px;
  .editor__inside {
    background: rgba(53, 54, 66, 0.985);
    border-radius: 10px;
  }
}

.site__card {
  background: #fff;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 10px;
  .l--thumbnail {
    width: 90px;
    height: 90px;
  }
  .l--details {
    padding: 0px 20px;
  }
  &:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  }
}

.site__wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
}
</style>

<template>
  <div class="editor flex h-full">
    <div class="editor__menu h-screen w-3/12 fixed">
      <div class="editor__inside h-full"></div>
    </div>
    <div class="editor__site w-full">
      <div class="site__wrapper container mx-auto w-7/12">
        <div class="site__header flex flex-row mb-10">
          <h1>
            <span class="text-4xl font-bold">Unapp</span> -
            <span class="text-xl">a directory of minimal and useful single-purpose apps.</span>
          </h1>
        </div>
        <div class="site__body">
          <div class="site__search flex flex-row mb-10">
            <input
              class="bg-white focus:outline-0 focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block w-full appearance-none leading-normal"
              type="text"
              placeholder="Search..."
              v-model="search"
            >
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ml-2"
              @click="search = ''"
              v-if="search !== ''"
            >Clear</button>
          </div>
          <div class="site__card flex flex-row" v-for="(item, index) in list" :key="index">
            <img class="l--thumbnail" :src="item.thumbnail.url">
            <div class="l--details w-full flex flex-col justify-between">
              <div>
                <p class="l--name font-bold text-l">{{item.name}}</p>
                <p class="l--tagline">{{item.tagline}}</p>
              </div>
              <div class="l--info flex flex-row justify-between items-center text-gray-600">
                <span class="flex flex-row justify-start flex-wrap w-8/12">
                  <p
                    class="mb-0 mx-1 text-xs"
                    v-for="(topic, index) in item.topics"
                    :key="index"
                  >{{topic}}</p>
                </span>
                <span class="text-sm">
                  <a :href="item.website" class="py-1 px-2 mx-2 bg-gray-200 rounded">View</a>
                  <span>{{item.votesCount}}</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { test } from "./dummy.js";
export default {
  name: "editor",
  created: function() {
    console.log(test);
    this.$store.dispatch("load", { key: "list", data: test });
  },
  data: function() {
    return {};
  },
  computed: {
    list: function() {
      return this.$store.getters["list"];
    },
    search: {
      get() {
        return this.$store.getters["search"];
      },
      set(val) {
        this.$store.dispatch("load", { key: "search", data: val });
      }
    }
  },
  methods: {}
};
</script>
