<template>
  <div class="home">
    <a
      href="https://api.producthunt.com/v2/oauth/authorize?client_id=4a0b0515ac8fee8c5a1e32ded60b7864a76d4dc4adf73ef8c45a601b1c9d22e0&redirect_uri=https://social2site.com&response_type=code&scope=public+private"
    >Login with Product Hunt</a>
    <hr>
    <p
      v-for="(item, index) in collections"
      :key="index"
      @click="getCollection(item.id)"
    >{{item.name}}</p>
    <hr>
    <div v-if="list.length > 0">
      <p v-for="(item, index) in list" :key="index">{{item.name}}</p>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld.vue";
const { createApolloFetch } = require("apollo-fetch");
const fetch = createApolloFetch({
  uri: "https://api.producthunt.com/v2/api/graphql"
});

fetch.use(({ request, options }, next) => {
  if (!options.headers) {
    options.headers = {}; // Create the headers object if needed.
  }
  options.headers["Authorization"] =
    "Bearer 358f502059ef90f3cbfcf9383dc3b232d58f9f37bb46c0895d321cc98398226f";

  next();
});

export default {
  name: "home",
  data: function() {
    return {
      list: [],
      collections: [],
      collection: "",
      userId: ""
    };
  },
  created: function() {
    this.getUser();
  },
  components: {
    HelloWorld
  },
  methods: {
    authenticate() {},
    findCollections(userId) {
      console.log(userId);
      let self = this;
      fetch({
        query: `query FindCollections($userId: ID!){
            collections(userId: $userId){
              edges{
                cursor
                node{
                  name
                  id                                 
                }
              }
            }
          }`,
        variables: { userId: userId }
      }).then(res => {
        console.log("done");
        console.log(res);
        self.collections = res.data.collections.edges.map(x => {
          return x.node;
        });
      });
    },
    getUser: function() {
      let self = this;
      fetch({
        query: `query { viewer { user { id }}}`
      }).then(res => {
        console.log(res.data);
        self.userId = res.data.viewer.user.id;
        self.findCollections(self.userId);
      });
    },
    getCollection: function(slug) {
      let self = this;
      // You can also easily pass variables for dynamic arguments
      fetch({
        query: `query GetCollections($slug: String!){
              collection(slug: $slug){
                id
                description
                posts{
                  edges{
                    node{
                      name
                      tagline
                      media {
                        url
                      }
                    }
                  }
                }
              }}`,
        variables: { slug: slug }
      }).then(res => {
        console.log(res.data);
        let list = res.data.collection.posts.edges.map(x => {
          return x.node;
        });
        console.log("cleaned", list);
        self.list = list;
      });
    }
  }
};
</script>
