<template>
  <div class="home bg-gray-200" v-if="loaded">
    <div class="mb-5 py-10 px-5 max-w-6xl mx-auto">
      <h1 class="text-6xl text-gray-700">{{title}}</h1>
      <p class="text-2xl mb-4 text-gray-600">{{tagline}}</p>
      <p class="text-sm flex flex-row content-center text-gray-600">
        By
        <img :src="user.profileImage" class="rounded-full w-5 h-5 ml-2 mr-1">
        {{user.username}}
      </p>
    </div>
    <div v-if="list.length > 0" class="flex flex-row flex-wrap container pb-4 mx-auto px-5">
      <div class="p-2 w-full sm:w-auto" v-for="(item, index) in list" :key="index">
        <div class="text-gray-700 text-center bg-gray-400 p-4 rounded">
          <img :src="item.media[0].url" class="mb-3 rounded-sm mx-auto">
          <p class="mb-2 text-gray-700 font-medium">{{item.name}}</p>
          <div class="flex flex-row justify-center">
            <a
              :href="item.website"
              target="_blank"
              class="bg-blue-500 hover:bg-blue-700 text-white text-xs py-1 px-2 rounded"
            >View Site</a>
            <span class="py-1 px-2 text-gray-600 text-xs rounded mr-2">{{item.votesCount}} Votes</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld.vue";
const { createApolloFetch } = require("apollo-fetch");
const fetch = createApolloFetch({
  uri: "https://api.producthunt.com/v2/api/graphql"
});

fetch.use(({ request, options }, next) => {
  if (!options.headers) {
    options.headers = {}; // Create the headers object if needed.
  }
  options.headers["Authorization"] =
    "Bearer 358f502059ef90f3cbfcf9383dc3b232d58f9f37bb46c0895d321cc98398226f";

  next();
});

export default {
  name: "home",
  data: function() {
    return {
      loaded: false,
      list: [],
      collections: [],
      collection: "",
      userId: "",
      title: "",
      tagline: "",
      username: ""
    };
  },
  created: function() {
    let params = this.$route.params;
    let slug = params.slug === undefined ? "41603" : params.slug;
    this.getCollection(slug);
  },
  components: {},
  methods: {
    getCollection: function(slug) {
      let self = this;
      // You can also easily pass variables for dynamic arguments
      fetch({
        query: `query GetCollections($slug: String!){
              collection(slug: $slug){
                id
                description
                createdAt
                coverImage
                name
                tagline
                user {
                  username
                  profileImage(size:50)
                }
                posts{
                  edges{
                    node{                                                                  
                      reviewsRating
                      votesCount
                      website
                      name
                      tagline
                      media {
                        url(width: 200, height: 200)
                      }
                      thumbnail {
                        url(width: 200, height: 200)
                      }
                    }
                  }
                }
              }}`,
        variables: { slug: slug }
      }).then(res => {
        console.log(res);
        let list = res.data.collection.posts.edges.map(x => {
          return x.node;
        });
        console.log("cleaned", list);
        self.title = res.data.collection.name;
        self.tagline = res.data.collection.tagline;
        self.user = {
          profileImage: res.data.collection.user.profileImage,
          username: res.data.collection.user.username
        };
        self.list = list;
        self.loaded = true;
      });
    }
  }
};
</script>
