<template>
  <div class="home">
    <div v-if="list.length > 0" class="flex flex-row bg-gray-200 flex-wrap">
      <div
        class="text-gray-700 text-center bg-gray-400 px-4 py-2 m-2"
        v-for="(item, index) in list"
        :key="index"
      >
        <img :src="item.media[0].url">
        {{item.name}}
      </div>
    </div>
    <p>{{list}}</p>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld.vue";
const { createApolloFetch } = require("apollo-fetch");
const fetch = createApolloFetch({
  uri: "https://api.producthunt.com/v2/api/graphql"
});

fetch.use(({ request, options }, next) => {
  if (!options.headers) {
    options.headers = {}; // Create the headers object if needed.
  }
  options.headers["Authorization"] =
    "Bearer 358f502059ef90f3cbfcf9383dc3b232d58f9f37bb46c0895d321cc98398226f";

  next();
});

export default {
  name: "home",
  data: function() {
    return {
      list: [],
      collections: [],
      collection: "",
      userId: ""
    };
  },
  created: function() {
    this.getUser();
    this.getCollection("41603");
  },
  components: {
    HelloWorld
  },
  methods: {
    authenticate() {},
    findCollections(userId) {
      console.log(userId);
      let self = this;
      fetch({
        query: `query FindCollections($userId: ID!){
            collections(userId: $userId){
              edges{
                cursor
                node{
                  name
                  id                                 
                }
              }
            }
          }`,
        variables: { userId: userId }
      }).then(res => {
        console.log("done");
        console.log(res);
        self.collections = res.data.collections.edges.map(x => {
          return x.node;
        });
      });
    },
    getUser: function() {
      let self = this;
      fetch({
        query: `query { viewer { user { id }}}`
      }).then(res => {
        console.log(res.data);
        self.userId = res.data.viewer.user.id;
        self.findCollections(self.userId);
      });
    },
    getCollection: function(slug) {
      let self = this;
      // You can also easily pass variables for dynamic arguments
      fetch({
        query: `query GetCollections($slug: String!){
              collection(slug: $slug){
                id
                description
                createdAt
                coverImage
                name
                tagline
                user {
                  username
                  profileImage(size:50)
                }
                posts{
                  edges{
                    node{                                                                  
                      reviewsRating
                      votesCount
                      website
                      name
                      tagline
                      url
                      media {
                        url(width: 200, height: 200)
                      }
                      thumbnail {
                        url(width: 200, height: 200)
                      }
                      topics{
                        edges {
                          node {
                            name
                          }
                        }
                      }
                    }
                  }
                }
              }}`,
        variables: { slug: slug }
      }).then(res => {
        console.log(res.data.collection.posts);
        let list = res.data.collection.posts.edges.map(x => {
          let result = {
            ...x.node,
            topics: x.node.topics.edges.map(x => x.node.name)
          };
          return result;
        });
        console.log("cleaned", list);
        self.list = list;
      });
    }
  }
};
</script>
