<style scoped lang="scss">
</style>


<template>
  <div class="flex flex-row">Connecting</div>
</template>

<script>
export default {
  name: "About",
  components: {},
  data: function() {
    return {};
  },
  created: function() {
    let token = this.$route.query.token;
    let code = this.$route.query.code;
    localStorage.setItem("jwtToken", token);
    localStorage.setItem("code", code);
    this.$router.push({
      name: "Dashboard"
    });
  },
  computed: {},
  methods: {}
};
</script>