<style scoped lang="scss">
.dashboard {
}
</style>

<template>
  <div class="w-full h-full min-h-screen bg-gray-200 dashboard">
    <Badge></Badge>
    <div class="flex flex-col w-full md:w-9/12 mx-auto p-5 pb-0 sm:p-10 sm:pb-0">
      <div class="flex flex-row justify-end">
        <p
          class="ml-1 text-gray-600 bg-gray-300 rounded py-1 px-2 hover:bg-gray-400 cursor-pointer"
          @click="logout"
        >Log Out</p>
      </div>
      <h1 class="text-2xl sm:text-4xl mb-5 sm:mb-10 text-gray-600">
        Create a website from your
        <span class="font-medium text-orange-500">Product Hunt</span> Collection
      </h1>
      <div class="mb-5 sm:mb-10">
        <p class="mb-3 text-lg text-gray-600">Your current sites</p>
        <p
          class="text-gray-600 font-semibold"
          v-if="sites.length === 0"
        >You have no sites at the moment. Let's create one! It's just one click away :)</p>
        <div class="flex flex-row flex-wrap" v-if="sites.length !== 0">
          <div v-for="(item, index) in sites" :key="index" class="p-2 w-6/12 sm:w-auto">
            <div :class="squareClass('wrapper', index)" @click="editSite(item.slug)">
              <p :class="squareClass('text', index)">{{item.title | trim}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-5 sm:mb-10">
        <p class="mb-3 text-lg text-gray-600">
          <span class="text-gray-500">Step 1</span> Start from your existing collections
        </p>
        <button
          v-if="collections.length === 0"
          @click="findUser"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >{{loading.retrieve ? "Loading..." : "Retrieve my collections from Product Hunt"}}</button>
        <div class="flex flex-row flex-wrap" v-if="collections.length !== 0">
          <div v-for="(item, index) in collections" :key="index" class="p-2">
            <div :class="squareClass('wrapper', index)" @click="getCollection(item.id)">
              <p :class="squareClass('text', index)">{{item.name | trim}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-5 sm:mb-10">
        <p class="mb-3 text-lg text-gray-600">
          <span class="text-gray-500">or</span> Paste a collection URL
        </p>
        <div class="flex flex-col sm:flex-row">
          <input
            class="mb-2 sm:mb-0 w-full sm:w-6/12 md:w-4/12 bg-white focus:outline-0 focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block appearance-none leading-normal"
            type="text"
            v-model="url"
            placeholder="Product Hunt Collection URL"
          >
          <button
            @click="createFromURL"
            class="sm:ml-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          >{{loadingMsg}}</button>
        </div>
      </div>
    </div>
    <div class="w-full md:w-9/12 mx-auto px-0 sm:px-5">
      <About></About>
    </div>
  </div>
</template>

<script>
import { createApolloFetch } from "apollo-fetch";
const fetch = createApolloFetch({
  uri: "https://api.producthunt.com/v2/api/graphql"
});
let code = localStorage.getItem("code");
fetch.use(({ request, options }, next) => {
  if (!options.headers) {
    options.headers = {}; // Create the headers object if needed.
  }
  options.headers["Authorization"] = "Bearer " + code;

  next();
});

import axios from "axios";
import About from "@/components/Home/About.vue";
import Badge from "@/components/Home/Badge.vue";

function validURL(str) {
  var pattern = new RegExp(
    "^(https?:\\/\\/)?" + // protocol
    "((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|" + // domain name
    "((\\d{1,3}\\.){3}\\d{1,3}))" + // OR ip (v4) address
    "(\\:\\d+)?(\\/[-a-z\\d%_.~+@]*)*" + // port and path
    "(\\?[;&a-z\\d%_.~+=-]*)?" + // query string
      "(\\#[-a-z\\d_]*)?$",
    "i"
  ); // fragment locator
  return !!pattern.test(str);
}

export default {
  name: "Dashboard",
  data: function() {
    return {
      userId: "",
      url: "",
      collections: [],
      errors: [],
      content: [],
      sites: [],
      site: {
        title: "",
        tagline: "",
        id: "",
        author: ""
      },
      loading: {
        retrieve: false,
        url: "default"
      }
    };
  },
  created: function() {
    // this.findUser();
    this.getSite();
    this.checkDemo();
  },
  components: {
    About,
    Badge
  },
  filters: {
    trim: function(value) {
      if (value.length >= 23) {
        return value.substr(0, 23) + "...";
      }
      return value;
    }
  },
  computed: {
    loadingMsg: function() {
      let status = this.loading.url;
      if (status === "default") {
        return "Create Site with One Click";
      }
      if (status === "loading") {
        return "Loading...";
      }
      if (status === "retry") {
        return "Please try a different url";
      }
    }
  },
  methods: {
    squareClass: function(type, index) {
      let color = "";
      switch (index % 9) {
        case 0:
          color = "red";
          break;
        case 1:
          color = "orange";
          break;
        case 2:
          color = "pink";
          break;
        case 3:
          color = "yellow";
          break;
        case 4:
          color = "green";
          break;
        case 5:
          color = "teal";
          break;
        case 6:
          color = "blue";
          break;
        case 7:
          color = "indigo";
          break;
        default:
          color = "purple";
      }
      if (type === "wrapper") {
        return `w-32 h-32 bg-${color}-200 flex flex-col justify-center items-center p-4 text-center rounded hover:shadow cursor-pointer`;
      }
      if (type === "text") {
        return `text-lg text-${color}-600`;
      }
    },
    findUser: function() {
      let self = this;
      self.loading.retrieve = true;
      fetch({
        query: `query { viewer { user { id }}}`
      }).then(res => {
        console.log(res.data);
        self.userId = res.data.viewer.user.id;
        self.findCollections(self.userId);
      });
    },
    findUserId: function(payload) {
      let { username } = payload;
      let self = this;
      fetch({
        query: `query FindUserID($username: String!){ 
                  user(username: $username) { 
                    id 
                  }
                }`,
        variables: { username: username }
      }).then(res => {
        console.log(res.data);
        if (res.data.user === null) {
          self.loading.url = "retry";
          return;
        }
        let userId = res.data.user.id;
        self.findCollections(userId, payload);
      });
    },
    findCollections(userId, payload = { url: "" }) {
      console.log(userId);
      let self = this;
      fetch({
        query: `query FindCollections($userId: ID!){
            collections(userId: $userId){
              totalCount
              edges{
                cursor
                node{
                  name
                  id  
                  url                               
                }
              }
            }
          }`,
        variables: { userId: userId }
      }).then(res => {
        console.log("done");
        console.log(res);
        let { url } = payload;
        let collections = res.data.collections.edges.map(x => {
          return { ...x.node, url: x.node.url.split("?")[0] };
        });
        let check = collections.findIndex(x => x.url === url);
        if (check > -1) {
          self.getCollection(collections[check].id);
        } else {
          self.collections = collections;
          self.loading.retrieve = false;
        }

        console.log(self.collections, check);
      });
    },
    getCollection: function(slug) {
      console.log(slug);
      let self = this;
      // You can also easily pass variables for dynamic arguments
      fetch({
        query: `query GetCollections($slug: String!){
                  collection(slug: $slug){
                    id
                    description
                    createdAt
                    coverImage
                    name                    
                    user {
                      username
                      profileImage(size:50)
                    }
                    posts{
                      edges{
                        node{                                                                  
                          reviewsRating
                          votesCount
                          website
                          name
                          tagline
                          url
                          media {
                            url(width: 200, height: 200)
                          }
                          thumbnail {
                            url(width: 200, height: 200)
                          }
                          topics{
                            edges {
                              node {
                                name
                              }
                            }
                          }
                        }
                      }
                    }
                  }}`,
        variables: { slug: slug }
      }).then(res => {
        if (res.data.collection === null) {
          self.loading.url = "retry";
          return;
        }
        //Site Data
        self.site.title = res.data.collection.name;
        self.site.tagline = res.data.collection.tagline;
        self.site.id = res.data.collection.id;
        self.site.image = res.data.collection.coverImage;
        self.site.author = res.data.collection.user.username;
        //Collection Data
        let content = res.data.collection.posts.edges.map(x => {
          let result = {
            ...x.node,
            topics: x.node.topics.edges.map(x => x.node.name),
            thumbnail: {
              url:
                x.node.thumbnail !== null
                  ? x.node.thumbnail.url
                  : "https://i.imgur.com/JDns1zT.png"
            },
            url: x.node.url !== null ? x.node.url : "https://social2site.com"
          };
          return result;
        });
        self.content = content;
        self.createSite();
      });
    },
    getSite: function() {
      let self = this;
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      axios
        .get(process.env.VUE_APP_API + `/api/site`)
        .then(res => {
          console.log(res.data);
          self.sites = res.data;
        })
        .catch(e => {
          console.log(e);
          this.errors.push(e);
          // if (e.response.status === 401) {
          //   this.$router.push({
          //     name: "Login"
          //   });
          // }
        });
    },
    checkDemo: function() {
      let self = this;
      if (localStorage.getItem("demo") !== null) {
        let demo = JSON.parse(localStorage.getItem("demo"));
        console.log(demo);
        let payload = {
          ...demo.site,
          ...demo.style,
          author: demo.author,
          title: demo.title,
          content: demo.content,
          collectionId: demo.collectionId
        };

        axios.defaults.headers.common["Authorization"] = localStorage.getItem(
          "jwtToken"
        );
        axios
          .post(process.env.VUE_APP_API + `/api/site`, payload)
          .then(res => {
            self.getSite();
            let slug = res.data.slug;
            this.$router.push({ name: "Editor", params: { slug } });
            localStorage.removeItem("demo");
          })
          .catch(e => {
            console.log(e);
            this.errors.push(e);
            if (e.response.status === 401) {
              this.$router.push({
                name: "Home"
              });
            }
          });
      }
    },
    createSite: function() {
      let self = this;
      let payload = {
        author: this.site.author !== "" ? this.site.author : "",
        background: "color",
        header: "center",
        headerBackground: "color",
        headerWidth: "7/12",
        bodyWidth: "7/12",
        card: "row",
        cardCol: "3",
        title: this.site.title,
        tagline: "My list of products to share",
        searchPlaceholder: "Search...",
        backgroundColor: "#e6ecf0",
        backgroundImage:
          this.site.image !== null
            ? this.site.image
            : "https://images.unsplash.com/photo-1560260240-982812cf588c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=716&q=80",
        headerColor: "#e6ecf0",
        headerImage:
          this.site.image !== null
            ? this.site.image
            : "https://images.unsplash.com/photo-1560260240-982812cf588c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=716&q=80",
        headerRounded: "rounded-none",
        headerMarginTop: "mt-0",
        headerOverlay: "rgba(0, 0, 0, 0.3)",
        bodyColor: "#e6ecf0",
        titleColor: "#000000",
        taglineColor: "#000000",
        cardColor: "#ffffff",
        cardRounded: "rounded",
        cardPrimaryColor: "#2c3e50",
        cardSecondaryColor: "#718096",
        cardButtonColor: "#edf2f7",
        cardButtonTextColor: "#718096",
        searchColor: "#ffffff",
        searchTextColor: "#2c3e50",
        searchButtonColor: "#a0aec0",
        searchButtonTextColor: "#ffffff",
        content: this.content,
        collectionId: this.site.id
      };
      axios.defaults.headers.common["Authorization"] = localStorage.getItem(
        "jwtToken"
      );
      axios
        .post(process.env.VUE_APP_API + `/api/site`, payload)
        .then(res => {
          self.getSite();
          let slug = res.data.slug;
          this.$router.push({ name: "Editor", params: { slug } });
        })
        .catch(e => {
          console.log(e);
          this.errors.push(e);
          if (e.response.status === 401) {
            this.$router.push({
              name: "Home"
            });
          }
        });
    },
    logout() {
      axios
        .post(process.env.VUE_APP_API + `/api/auth/logout`)
        .then(res => {
          console.log(res);
          localStorage.removeItem("jwtToken");
          localStorage.removeItem("code");
          this.$router.push({
            name: "Home"
          });
        })
        .catch(e => {
          console.log(e);
          this.errors.push(e);
          if (e.response.status === 401) {
            this.$router.push({
              name: "Home"
            });
          }
        });
      // this.$router.push({
      //   name: "Login"
      // });
    },
    editSite(slug) {
      this.$router.push({ name: "Editor", params: { slug } });
    },
    createFromURL() {
      let url = this.url;
      if (!validURL(url)) {
        this.loading.url = "retry";
        return;
      }
      this.loading.url = "loading";
      let split = url.split("/");
      let slug = split[split.length - 1];
      if (slug !== "" && split[3] === "e") {
        this.getCollection(slug);
      }
      if (slug !== "" && split[3] !== "e") {
        let username = split[3].substr(1);
        this.findUserId({ username, slug, url });
      }
    }
  }
};
</script>
