<style scoped lang="scss">
</style>

<template>
  <div>
    <Badge></Badge>
    <EditorView mode="demo" v-if="loading"></EditorView>
    <div
      v-if="!loading"
      class="h-full min-h-screen w-full bg-gray-300 flex flex-col justify-center items-center p-2"
    >
      <p
        class="text-lg text-gray-600 mb-5"
        v-if="!retry"
      >Please wait a moment while we load your site :)</p>
      <div v-if="retry" class="flex flex-col mb-5">
        <p
          class="text-lg text-gray-600 mb-5"
        >Ooh oh, it seems like we can't process this collection. Perhaps try a different one?</p>
        <div class="flex flex-col sm:flex-row items-center justify-center">
          <input
            class="w-full mb-2 sm:mb-0 sm:w-6/12 bg-white focus:outline-0 focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block appearance-none leading-normal"
            type="text"
            v-model="url"
            placeholder="Product Hunt Collection URL"
          >
          <button
            @click="createFromURL"
            class="w-full sm:w-auto sm:ml-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          >{{loadingMsg}}</button>
        </div>
      </div>
      <p
        @click="$router.push('/')"
        class="text-sm text-gray-600 bg-gray-400 p-2 rounded cursor-pointer hover:bg-gray-200"
      >Back to Home</p>
    </div>
  </div>
</template>

<script>
import { createApolloFetch } from "apollo-fetch";
const fetch = createApolloFetch({
  uri: "https://api.producthunt.com/v2/api/graphql"
});
fetch.use(({ request, options }, next) => {
  if (!options.headers) {
    options.headers = {}; // Create the headers object if needed.
  }
  options.headers["Authorization"] =
    "Bearer 358f502059ef90f3cbfcf9383dc3b232d58f9f37bb46c0895d321cc98398226f";

  next();
});

import axios from "axios";
import EditorView from "@/components/Editor/EditorView.vue";
import Badge from "@/components/Home/Badge.vue";

function slugify(string) {
  const a = "àáäâãåăæçèéëêǵḧìíïîḿńǹñòóöôœøṕŕßśșțùúüûǘẃẍÿź·/_,:;";
  const b = "aaaaaaaaceeeeghiiiimnnnooooooprssstuuuuuwxyz------";
  const p = new RegExp(a.split("").join("|"), "g");

  return string
    .toString()
    .toLowerCase()
    .replace(/\s+/g, "-") // Replace spaces with -
    .replace(/\./g, "-") // Replace spaces with -
    .replace(/\'/g, "-") // Replace spaces with -
    .replace(p, c => b.charAt(a.indexOf(c))) // Replace special characters
    .replace(/&/g, "-and-") // Replace & with 'and'
    .replace(/[^\w\-]+/g, "") // Remove all non-word characters
    .replace(/\-\-+/g, "-") // Replace multiple - with single -
    .replace(/^-+/, "") // Trim - from start of text
    .replace(/-+$/, ""); // Trim - from end of text
}

function validURL(str) {
  var pattern = new RegExp(
    "^(https?:\\/\\/)?" + // protocol
    "((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|" + // domain name
    "((\\d{1,3}\\.){3}\\d{1,3}))" + // OR ip (v4) address
    "(\\:\\d+)?(\\/[-a-z\\d%_@.~+]*)*" + // port and path
    "(\\?[;&a-z\\d%_.~+=-]*)?" + // query string
      "(\\#[-a-z\\d_]*)?$",
    "i"
  ); // fragment locator
  return !!pattern.test(str);
}

export default {
  name: "Demo",
  components: {
    EditorView,
    Badge
  },
  created: function() {
    this.getDemo();
  },
  data: function() {
    return {
      loading: false,
      retry: false,
      retryLoading: "default",
      url: ""
    };
  },
  computed: {
    loadingMsg: function() {
      let status = this.retryLoading;
      if (status === "default") {
        return "Try again";
      }
      if (status === "loading") {
        return "Loading...";
      }
      if (status === "retry") {
        return "Please try a different url";
      }
    }
  },
  methods: {
    getDemo: function() {
      let self = this;
      let slug = this.$route.params.slug;
      let split = slug.split("~");
      if (split.length === 2) {
        this.findUserId({
          username: split[0],
          slug: split[1]
        });
      }
      if (split.length === 1) {
        this.getCollection(split[0]);
      }
    },
    findUserId: function(payload) {
      let { username } = payload;
      let self = this;
      fetch({
        query: `query FindUserID($username: String!){ 
                  user(username: $username) { 
                    id 
                  }
                }`,
        variables: { username: username }
      }).then(res => {
        console.log(res.data);
        if (res.data.user === null) {
          self.retry = true;
          return;
        }
        let userId = res.data.user.id;
        self.findCollections(userId, payload);
      });
    },
    findCollections(userId, payload) {
      console.log(userId);
      let self = this;
      fetch({
        query: `query FindCollections($userId: ID!){
            collections(userId: $userId){
              totalCount
              edges{
                cursor
                node{
                  name
                  id  
                  url                               
                }
              }
            }
          }`,
        variables: { userId: userId }
      }).then(res => {
        console.log("done");
        console.log(res);
        let { slug } = payload;
        self.collections = res.data.collections.edges.map(x => {
          return {
            ...x.node,
            url: x.node.url.split("?")[0],
            slug: slugify(x.node.name)
          };
        });
        let check = self.collections.findIndex(x => x.slug === slug);
        if (check > -1) {
          self.getCollection(self.collections[check].id);
        } else {
          self.retry = true;
          return;
        }
        console.log(self.collections, check);
      });
    },
    getCollection: function(slug) {
      console.log(slug);
      let self = this;
      // You can also easily pass variables for dynamic arguments
      fetch({
        query: `query GetCollections($slug: String!){
                  collection(slug: $slug){
                    id
                    description
                    createdAt
                    coverImage
                    name                    
                    user {
                      username
                      profileImage(size:50)
                    }
                    posts{
                      edges{
                        node{                                                                  
                          reviewsRating
                          votesCount
                          website
                          name
                          tagline
                          url
                          media {
                            url(width: 200, height: 200)
                          }
                          thumbnail {
                            url(width: 200, height: 200)
                          }
                          topics{
                            edges {
                              node {
                                name
                              }
                            }
                          }
                        }
                      }
                    }
                  }}`,
        variables: { slug: slug }
      }).then(res => {
        //Site Data
        console.log(res);
        if (res.data === null || res.data.collection === null) {
          self.retry = true;
          return;
        }
        let title = res.data.collection.name;
        let tagline = res.data.collection.tagline;
        let author = res.data.collection.user.username;
        let id = res.data.collection.id;
        let image =
          res.data.collection.coverImage !== null
            ? res.data.collection.coverImage
            : "https://images.unsplash.com/photo-1560260240-982812cf588c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=716&q=80";
        //Collection Data
        let content = res.data.collection.posts.edges.map(x => {
          let result = {
            ...x.node,
            topics: x.node.topics.edges.map(x => x.node.name),
            thumbnail: {
              url:
                x.node.thumbnail !== null
                  ? x.node.thumbnail.url
                  : "https://i.imgur.com/JDns1zT.png"
            },
            url: x.node.url !== null ? x.node.url : "https://social2site.com"
          };
          return result;
        });
        // self.createSite();
        self.$store.dispatch("change", { key: "list", data: content });
        self.$store.dispatch("site", { key: "title", data: title });
        self.$store.dispatch("site", { key: "tagline", data: tagline });
        self.$store.dispatch("site", { key: "author", data: author });
        self.$store.dispatch("style", { key: "headerImage", data: image });
        self.$store.dispatch("meta", { key: "id", data: id });
        self.$store.dispatch("meta", { key: "image", data: image });
        self.loading = true;

        // let demo = {
        //   title,
        //   tagline,
        //   author,
        //   id,
        //   image,
        //   content
        // };
        // localStorage.setItem("demo", JSON.stringify(demo));
      });
    },
    createFromURL: function() {
      let url = this.url;
      if (!validURL(url)) {
        this.retryLoading = "retry";
        return;
      }
      this.retryLoading = "loading";
      let split = url.split("/");
      let slug = split[split.length - 1];
      if (slug !== "" && split[3] === "e") {
      }
      if (slug !== "" && split[3] !== "e") {
        let username = split[3].substr(1);
        slug = username + "~" + slug;
      }
      this.$router.push({ name: "Demo", params: { slug } });
      this.getDemo();
    }
  }
};
</script>
