<style scoped lang="scss">
</style>

<template>
  <div>
    <!-- <Badge></Badge> -->
    <EditorView mode="editor"></EditorView>
  </div>
</template>

<script>
import axios from "axios";
import EditorView from "@/components/Editor/EditorView.vue";
import Badge from "@/components/Home/Badge.vue";

export default {
  name: "editor",
  components: { EditorView, Badge },
  created: function() {
    this.getSite();
  },
  data: function() {
    return {};
  },
  computed: {},
  methods: {
    getSite: function() {
      let self = this;
      let slug = this.$route.params.slug;
      axios
        .get(process.env.VUE_APP_API + `/api/site/${slug}`)
        .then(res => {
          let data = res.data[0];
          console.log(data.headerImage);
          let content = JSON.parse(data.content);
          let site = {
            author: data.author,
            background: data.background,
            header: data.header,
            headerBackground: data.headerBackground,
            headerWidth: data.headerWidth,
            bodyWidth: data.bodyWidth,
            card: data.card,
            cardCol: data.cardCol,
            title: data.title,
            tagline: data.tagline,
            searchPlaceholder: data.searchPlaceholder
          };
          let style = {
            backgroundColor: data.backgroundColor,
            backgroundImage: data.backgroundImage,
            headerColor: data.headerColor,
            headerImage: data.headerImage,
            headerRounded: data.headerRounded,
            headerMarginTop: data.headerMarginTop,
            headerOverlay: data.headerOverlay,
            bodyColor: data.bodyColor,
            titleColor: data.titleColor,
            taglineColor: data.taglineColor,
            cardColor: data.cardColor,
            cardRounded: data.cardRounded,
            cardPrimaryColor: data.cardPrimaryColor,
            cardSecondaryColor: data.cardSecondaryColor,
            cardButtonColor: data.cardButtonColor,
            cardButtonTextColor: data.cardButtonTextColor,
            searchColor: data.searchColor,
            searchTextColor: data.searchTextColor,
            searchButtonColor: data.searchButtonColor,
            searchButtonTextColor: data.searchButtonTextColor
          };
          self.$store.dispatch("change", { key: "list", data: content });
          self.$store.dispatch("change", { key: "site", data: site });
          self.$store.dispatch("change", { key: "style", data: style });
          self.$store.dispatch("meta", { key: "id", data: data._id });
          self.$store.dispatch("meta", { key: "slug", data: data.slug });
          document.title = data.title;
        })
        .catch(e => {
          console.log(e);
          this.errors.push(e);
          // if (e.response.status === 401) {
          //   this.$router.push({
          //     name: "Login"
          //   });
          // }
        });
    }
  }
};
</script>
