<template>
  <div class="w-full h-full min-h-screen bg-gray-200 dashboard">
    <Badge></Badge>    
    <div class="flex flex-col w-full md:w-9/12 mx-auto p-5 md:p-10">
    <div class="mb-5 md:mb-10">
      <h1 class="text-3xl sm:text-4xl">
        <span class="font-medium text-orange-500">ProductHunt2Site</span>
      </h1>
      <h1
        class="text-2xl mb-1 sm:text-3xl text-gray-600 flex flex-col sm:flex-row sm:items-center"
      >
        Create a website from your
        <a href="https://producthunt.com" target="_blank">
          <img class="w-56 sm:px-4" src="@/assets/phlogo.png">
        </a>
        Collection
      </h1>
      <a href="https://www.producthunt.com/posts/product-hunt-2-site?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-product-hunt-2-site" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=158676&theme=light" alt="Product Hunt 2 Site - Create websites from any Product Hunt Collection | Product Hunt Embed" style="width: 250px; height: 54px;" width="250px" height="54px" /></a>
      </div>
      <div class="mb-5">
        <p class="mb-3 text-lg text-gray-600">
          <span class="text-gray-500">Step 1</span> Paste a collection URL
        </p>
        <div class="flex flex-col sm:flex-row mb-2">
          <input
            class="w-full mb-2 sm:mb-0 sm:w-6/12 bg-white focus:outline-0 focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block appearance-none leading-normal"
            type="text"
            v-model="url"
            placeholder="Product Hunt Collection URL"
          >
          <button
            @click="createFromURL"
            class="sm:ml-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          >{{loadingMsg}}</button>
        </div>
        <p class="text-gray-600 hover:font-bold text-sm cursor-pointer" @click="tryRandom">Click here to try with a random collection</p>
      </div>
      <div class="md:mb-5">
        <p class="mb-3 text-lg text-gray-600">
          <span class="text-gray-500">or</span> Use Your Product Hunt Account
        </p>
        <div class="flex flex-row">
          <button
            @click="connectWithPH"
            class="w-full sm:w-auto bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded"
          >Connect with Product Hunt</button>
        </div>
      </div>
    </div>
    <div class="w-full md:w-10/12 mx-auto md:px-10 md:mb-10">
      <Examples></Examples>
    </div>
    <div class="w-full md:w-9/12 mx-auto md:px-10">
      <About></About>
    </div>
  </div>
</template>

<script>
import About from "@/components/Home/About.vue";
import Examples from "@/components/Home/Examples.vue";
import Badge from "@/components/Home/Badge.vue";

function validURL(str) {
  var pattern = new RegExp(
    "^(https?:\\/\\/)?" + // protocol
    "((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|" + // domain name
    "((\\d{1,3}\\.){3}\\d{1,3}))" + // OR ip (v4) address
    "(\\:\\d+)?(\\/[-a-z\\d%_@.~+]*)*" + // port and path
    "(\\?[;&a-z\\d%_.~+=-]*)?" + // query string
      "(\\#[-a-z\\d_]*)?$",
    "i"
  ); // fragment locator
  return !!pattern.test(str);
}

export default {
  name: "Home",
  created: function() {},
  components: {
    About,
    Examples,
    Badge
  },
  data: function() {
    return {
      url: "",
      loading: "default"
    };
  },
  computed: {
    loadingMsg: function() {
      let status = this.loading;
      if (status === "default") {
        return "Create Site with One Click";
      }
      if (status === "loading") {
        return "Loading...";
      }
      if (status === "retry") {
        return "Please try a different url";
      }
    }
  },
  methods: {
    tryRandom: function() {
      let samples = [
        "https://www.producthunt.com/e/brain-music",
        "https://www.producthunt.com/e/meditation-tools",
        "https://www.producthunt.com/e/make-finance-fun-again",
        "https://www.producthunt.com/e/apple-wwdc-2018",
        "https://www.producthunt.com/e/build-beautiful-mockups",
        "https://www.producthunt.com/e/gdpr-resources",
        "https://www.producthunt.com/e/yc-winter-2018-demo-day",
        "https://www.producthunt.com/@abadesi/collections/international-women-s-day-2018"
      ];
      function getRandomInt(max) {
        return Math.floor(Math.random() * Math.floor(max));
      }
      this.url = samples[getRandomInt(samples.length)];
      this.createFromURL();
    },
    createFromURL: function() {
      let url = this.url;
      if (!validURL(url)) {
        this.loading = "retry";
        return;
      }
      this.loading = "loading";
      let split = url.split("/");
      let slug = split[split.length - 1];
      if (slug !== "" && split[3] === "e") {
      }
      if (slug !== "" && split[3] !== "e") {
        let username = split[3].substr(1);
        slug = username + "~" + slug;
      }
      this.$router.push({ name: "Demo", params: { slug } });
    },
    connectWithPH: function() {
      window.location.href =
        "https://api.producthunt.com/v2/oauth/authorize?client_id=4a0b0515ac8fee8c5a1e32ded60b7864a76d4dc4adf73ef8c45a601b1c9d22e0&redirect_uri=https://social2site.com/api/connect&response_type=code&scope=public+private";
    }
  }
};
</script>
