<template>
  <div class="about">
    <div class="w-full max-w-xs">
      <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="username">Username</label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="username"
            type="text"
            placeholder="Username"
            v-model="login.username"
          >
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Password</label>
          <input
            class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
            id="password"
            type="password"
            placeholder="******************"
            v-model="login.password"
          >
          <p class="text-red-500 text-xs italic">Please choose a password.</p>
        </div>
        <div class="flex items-center justify-between">
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="button"
            @click="submit"
          >Sign In</button>
          <a
            class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
            href="#"
          >Forgot Password?</a>
        </div>
      </form>
      <p class="text-center text-gray-500 text-xs">&copy;2019 Acme Corp. All rights reserved.</p>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "login",
  components: {},
  created: function() {},
  data: function() {
    return {
      login: {
        username: "",
        password: ""
      },
      errors: []
    };
  },
  computed: {},
  methods: {
    submit(evt) {
      evt.preventDefault();
      axios
        .post(process.env.VUE_APP_API + `/api/auth/login/`, this.login)
        .then(response => {
          console.log(response.data);
          localStorage.setItem("jwtToken", response.data.token);
          localStorage.setItem("code", response.data.code);
          this.$router.push({
            name: "Dashboard"
          });
        })
        .catch(e => {
          console.log(e);
          this.errors.push(e);
        });
    }
  }
};
</script>

