<style scoped lang="scss">
.site {
  background: #e6ecf0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
</style>

<template>
  <div class="site flex h-full min-h-screen" :style="backgroundStyle">
    <div class="fixed left-0 bottom-0 p-5">
      <a
        href="/"
        class="text-gray-600 bg-gray-100 hover:bg-gray-300 cursor-pointer rounded py-1 px-2 text-sm"
      >Created with Social2Site</a>
    </div>
    <Site></Site>
  </div>
</template>

<script>
import axios from "axios";
import Site from "@/components/Site/Site.vue";
import Header from "@/components/Site/Header/HeaderCenter.vue";

export default {
  name: "Website",
  components: {
    Site
  },
  created: function() {
    this.getSite();
  },
  data: function() {
    return {};
  },
  computed: {
    site: function() {
      return this.$store.getters["site"];
    },
    style: function() {
      return this.$store.getters["style"];
    },
    background: function() {
      return this.site.background;
    },
    backgroundColor: function() {
      return this.$store.getters["style"].backgroundColor;
    },
    backgroundImage: function() {
      return this.style.backgroundImage;
    },
    backgroundStyle: function() {
      let background = this.background;
      if (background === "color") {
        return `background-color: ${this.backgroundColor};`;
      }
      if (background === "image") {
        return `background-image: url(${this.backgroundImage});`;
      }
    }
  },
  methods: {
    getSite: function() {
      let self = this;
      let slug = this.$route.params.slug;
      axios
        .get(process.env.VUE_APP_API + `/api/site/${slug}`)
        .then(res => {
          let data = res.data[0];
          let content = JSON.parse(data.content);
          let site = {
            author: data.author,
            background: data.background,
            header: data.header,
            headerBackground: data.headerBackground,
            headerWidth: data.headerWidth,
            bodyWidth: data.bodyWidth,
            card: data.card,
            cardCol: data.cardCol,
            title: data.title,
            tagline: data.tagline,
            searchPlaceholder: data.searchPlaceholder
          };
          let style = {
            backgroundColor: data.backgroundColor,
            backgroundImage: data.backgroundImage,
            headerColor: data.headerColor,
            headerImage: data.headerImage,
            headerRounded: data.headerRounded,
            headerMarginTop: data.headerMarginTop,
            headerOverlay: data.headerOverlay,
            bodyColor: data.bodyColor,
            titleColor: data.titleColor,
            taglineColor: data.taglineColor,
            cardColor: data.cardColor,
            cardRounded: data.cardRounded,
            cardPrimaryColor: data.cardPrimaryColor,
            cardSecondaryColor: data.cardSecondaryColor,
            cardButtonColor: data.cardButtonColor,
            cardButtonTextColor: data.cardButtonTextColor,
            searchColor: data.searchColor,
            searchTextColor: data.searchTextColor,
            searchButtonColor: data.searchButtonColor,
            searchButtonTextColor: data.searchButtonTextColor
          };
          self.$store.dispatch("change", { key: "list", data: content });
          self.$store.dispatch("change", { key: "site", data: site });
          self.$store.dispatch("change", { key: "style", data: style });
          document.title = data.title;
        })
        .catch(e => {
          console.log(e);
          this.errors.push(e);
          // if (e.response.status === 401) {
          //   this.$router.push({
          //     name: "Login"
          //   });
          // }
        });
    }
  }
};
</script>
