<style scoped lang="scss">
.bg-cover {
  background-repeat: no-repeat;
  background-position: center center;
  // background-attachment: fixed;
  background-size: cover;
  // height: 75vh;
}
.overlay {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
}
</style>

<template>
  <div>
    <div v-if="!load" class="flex flex-col h-screen justify-center items-center">
      <p>Loading...</p>
    </div>
    <div v-if="load">
      <!-- Header -->
      <div class="flex flex-row justify-between py-10 px-5">
        <div>{{social.profile.full_name}}</div>
        <div class="flex flex-row">
          <p class="px-2 text-md font-light">Home</p>
        </div>
      </div>

      <!-- Content -->
      <div class="flex flex-col sm:flex-row">
        <div class="bg-black w-full sm:w-6/12 flex flex-col py-20 px-5 justify-center items-center">
          <p class="text-white text-center text-5xl font-bold mb-5">{{social.profile.full_name}}</p>
          <p class="text-white text-2xl font-bold mb-5 text-center">{{social.profile.biography}}</p>
        </div>

        <div
          class="bg-cover w-12/12 sm:w-6/12"
          :style="`background-image: url(${social.photos[5].thumbnail_resources[0].src}); min-height: 300px;`"
        ></div>
      </div>

      <!-- Interval -->
      <div class="flex flex-col sm:flex-row flex-wrap bg-white p-5 sm:p-20 text-center">
        <div class="flex flex-col w-full sm:w-4/12" v-for="(x, i) in social.photos" :key="i">
          <div class="p-5 flex flex-col">
            <img :src="x.thumbnail_src" />
            <p class="bg-gray-200 font-bold text-center p-2">{{x.caption.substr(0,100)}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import social from "./social.json";
import axios from "axios";

export default {
  name: "",
  created: function() {
    let username = this.$route.params.username;
    let self = this;
    axios
      .get(process.env.VUE_APP_API + `/api/scrape/` + username)
      .then(response => {
        console.log(response.data);
        self.social = response.data;
        self.load = true;
      })
      .catch(e => {
        console.log(e);
        this.errors.push(e);
      });
  },
  data: function() {
    return { social, load: false };
  },
  computed: {},
  methods: {}
};
</script>