<style scoped lang="scss">
.bg-cover {
  background-repeat: no-repeat;
  background-position: center center;
  // background-attachment: fixed;
  background-size: cover;
  // height: 75vh;
}
.overlay {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
}
</style>

<template>
  <div>
    <!-- Header -->
    <div class="flex flex-row justify-between py-10 px-5">
      <div>{{social.profile.full_name}}</div>
      <div class="flex flex-row">
        <p class="px-2 text-md font-light">Home</p>
        <p class="px-2 text-md font-light">Products</p>
      </div>
    </div>

    <!-- Featuerd -->
    <div
      class="bg-cover"
      :style="`background-image: url(${social.photos[12].thumbnail_resources[0].src}); height: 80vh;`"
    >
      <div class="overlay flex flex-col p-20 justify-center">
        <h1 class="text-white text-5xl font-bold mb-5">{{social.profile.full_name}}</h1>
        <p class="text-white text-2xl font-bold mb-5">{{social.profile.biography}}</p>
        <div class="bg-black w-40 text-center p-2 text-white rounded">Explore</div>
      </div>
    </div>

    <!-- Content -->
    <!-- <div class="flex flex-row">
      <div
        class="bg-cover w-6/12"
        style="background-image: url(https://instagram.fcgk3-1.fna.fbcdn.net/vp/048433ef035550f4e880b28722315f74/5DF7690F/t51.2885-15/sh0.08/e35/s640x640/69118611_690940494722363_6543250952849541148_n.jpg?_nc_ht=instagram.fcgk3-1.fna.fbcdn.net&_nc_cat=111);height:600px;"
      >
        <div class="overlay flex flex-col py-20 px-5 justify-center items-center">
          <p class="text-red-500 text-center bg-white text-5xl font-bold mb-5">HOREKA</p>
          <p
            class="text-white text-2xl font-bold mb-5 text-center"
          >Saksikan challenge belanja 50rb ft. @tangeaselfoodies and @gneferet</p>
          <div class="bg-red-400 w-40 text-center p-2 text-white rounded">Katalog Horeka</div>
        </div>
      </div>

      <div
        class="bg-cover w-6/12"
        style="background-image: url(https://instagram.fcgk3-1.fna.fbcdn.net/vp/048433ef035550f4e880b28722315f74/5DF7690F/t51.2885-15/sh0.08/e35/s640x640/69118611_690940494722363_6543250952849541148_n.jpg?_nc_ht=instagram.fcgk3-1.fna.fbcdn.net&_nc_cat=111);height:600px;"
      >
        <div class="overlay flex flex-col py-20 px-5 justify-center items-center">
          <p class="text-red-500 text-center bg-white text-5xl font-bold mb-5">PROMO</p>
          <p
            class="text-white text-2xl font-bold mb-5 text-center"
          >Saksikan challenge belanja 50rb ft. @tangeaselfoodies and @gneferet</p>
          <div class="bg-red-400 w-40 text-center p-2 text-white rounded">Katalog Promo</div>
        </div>
      </div>
    </div>-->

    <!-- Interval -->
    <div class="flex flex-col bg-black py-10 text-center justify-center" style="height: 600px;">
      <p class="text-5xl text-white font-bold mb-10">{{social.profile.full_name}}</p>
      <p class="text-center text-xl text-white font-bold">{{social.profile.biography}}</p>
    </div>
  </div>
</template>

<script>
import social from "./social.json";

export default {
  name: "",
  created: function() {
    return {};
  },
  data: function() {
    return {
      social
    };
  },
  computed: {},
  methods: {}
};
</script>