<style scoped lang="scss">
</style>


<template>
  <div class="flex flex-col sm:flex-row">
    <div class="p-5 w-full sm:w-6/12">
      <div class="bg-gray-100 border-red-100 p-5 rounded shadow">
        <p
          class="text-lg text-gray-600 font-semibold mb-2"
        >Is this something you will use, want, and pay for?</p>
        <p class="text-gray-600">
          <span class="font-bold text-red-500">I'm seeking validation.</span> Let me know by leaving your email. If I reach 100 Subscribers, I will spend more focus to develop more features for ProductHunt2Site such as:
        </p>
        <ul class="list-decimal p-5 text-gray-700">
          <li>
            <span class="text-pink-600">Instagram2Site</span>,
            <span class="text-blue-600">Twitter2Site</span>,
            <span class="text-black-600">Unsplash2Site</span>, and more!
          </li>
          <li>More templates and customization options.</li>
          <li>Custom Domain Names with SSL.</li>
          <li class="font-bold">And continuous support for Social2Site!</li>
        </ul>
        <input
          class="mb-2 w-full bg-white focus:outline-0 focus:shadow-outline border border-gray-300 rounded-lg py-2 px-4 block appearance-none leading-normal"
          type="email"
          v-model="email"
          placeholder="Your Email"
        >
        <button
          @click="subscribe"
          class="mb-5 w-full bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded"
        >{{subscribeMessage}}</button>
        <p class="text-gray-600 text-center">
          Currently
          <span class="font-bold">{{amount}}</span> out of 100 have subscribed
        </p>
      </div>
    </div>
    <div class="p-5 w-full sm:w-6/12">
      <div class="bg-gray-100 p-5 rounded shadow">
        <p class="text-lg text-gray-600 font-semibold mb-2">About ProductHunt2Site</p>
        <p class="text-gray-600 mb-2">
          Hi! My name is
          <a
            class="text-blue-500 font-semibold hover:underline cursor-pointer"
            href="https://twitter.com/Marcelc63"
            target="_blank"
          >Marcel Christianis</a> and I'm a developer from Indonesia :)
        </p>
        <p class="text-gray-600 mb-2">
          ProductHunt2Site is a submission to
          <span
            class="text-orange-600 font-bold"
          >ProductHunt Maker Festival</span> so if you like this, please support by voting!
        </p>
        <p class="text-gray-600 mb-2">
          I created ProductHunt2Site inspired from other works such as
          <a
            class="text-green-500 font-semibold hover:underline cursor-pointer"
            href="https://sheet2site.com/"
            target="_blank"
          >Sheet2Site</a> by
          <a
            class="text-green-500 font-semibold hover:underline cursor-pointer"
            href="https://twitter.com/AndreyAzimov"
            target="_blank"
          >Andrey Azimov</a> as a part of the No-Code movements!
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "About",
  components: {},
  data: function() {
    return {
      isSubscribe: "default",
      email: "",
      amount: 0
    };
  },
  created: function() {
    this.getAmount();
  },
  computed: {
    subscribeMessage: function() {
      if (this.isSubscribe === "default") {
        return "I Want Social2Site!";
      }
      if (this.isSubscribe === "success") {
        return "Thank You! :)";
      }
      if (this.isSubscribe === "exist") {
        return "You've already subscribed!";
      }
    }
  },
  methods: {
    subscribe: function() {
      let self = this;
      if (this.email === "") {
        return false;
      }
      axios
        .post(process.env.VUE_APP_API + `/api/subscribe`, { email: this.email })
        .then(res => {
          console.log(res);
          if (res.data.success) {
            self.isSubscribe = "success";
            self.amount = self.amount + 1;
          } else {
            self.isSubscribe = "exist";
          }
        })
        .catch(e => {
          console.log(e);
          self.isSubscribe = "exist";
        });
    },
    getAmount: function() {
      let self = this;
      axios
        .get(process.env.VUE_APP_API + `/api/subscribe`)
        .then(res => {
          console.log(res.data);
          self.amount = res.data.amount;
        })
        .catch(e => {
          console.log(e);
          this.errors.push(e);
        });
    }
  }
};
</script>