<style scoped lang="scss">
.badge {
  z-index: 100;
}
</style>


<template>
  <div
    class="badge fixed right-0 bottom-0 p-1 sm:p-2 hover:bg-gray-100 bg-white shadow rounded-tl-lg cursor-pointer"
    @click="goTo('https://twitter.com/Marcelc63')"
  >
    <div class="flex flex-row items-center">
      <img class="w-5 sm:w-6 rounded-full" src="@/assets/maker.jpg">
      <span class="ml-2 text-xs sm:text-sm">by Marcel Christianis</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "Badge",
  components: {},
  data: function() {
    return {};
  },
  computed: {},
  methods: {
    goTo: function(url) {
      window.open(
        url,
        "_blank" // <- This is what makes it open in a new window.
      );
      // window.location.href = url;
    }
  }
};
</script>