<style scoped lang="scss">
.examples {
  position: relative;
  height: 230px;
}
.examples__thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.examples__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  &:hover {
    background: rgba(0, 0, 0, 0.4);
    opacity: 1;
  }
}
</style>


<template>
  <div class="p-2">
    <div class="flex flex-col sm:flex-row w-full justify-between px-2">
      <p class="text-xl text-gray-600">Made with ProductHunt2Site</p>
      <p
        @click="getExamples"
        class="text-gray-600 text-center bg-gray-300 hover:bg-gray-400 text-sm p-2 rounded cursor-pointer"
      >See More</p>
    </div>
    <div class="flex flex-row flex-wrap">
      <div class="w-full sm:w-4/12 p-2" v-for="(item, index) in display" :key="index">
        <div class="examples cursor-pointer" @click="goTo(item.url)">
          <div class="examples__overlay rounded flex flex-col items-center justify-center">
            <p class="text-white text-lg font-bold">Visit Site</p>
          </div>
          <img class="rounded shadow examples__thumbnail" :src="item.img">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
let examples = [
  {
    img: "https://i.imgur.com/7LBHrH3.png",
    url: "https://social2site.com/s/y-combinator-winter-2018"
  },
  {
    img: "https://i.imgur.com/wVGL9pI.png",
    url: "https://social2site.com/s/black-makers"
  },
  {
    img: "https://i.imgur.com/L4lVucH.png",
    url: "https://social2site.com/s/single-purpose-apps"
  },
  {
    img: "https://i.imgur.com/QY1C6Ut.png",
    url: "https://social2site.com/s/made-by-product-hunters"
  },
  {
    img: "https://i.imgur.com/Fw9QNcJ.png",
    url: "https://social2site.com/s/m-g-siegler-s-favorite-writing-apps"
  },
  {
    img: "https://i.imgur.com/vEH4GVp.png",
    url: "https://social2site.com/s/international-women-s-day-2018"
  }
];
function shuffle(array) {
  return array.sort(() => Math.random() - 0.5);
}
export default {
  name: "Examples",
  components: {},
  data: function() {
    return {
      display: []
    };
  },
  created: function() {
    this.getExamples();
  },
  computed: {},
  methods: {
    getExamples: function() {
      this.display = shuffle(examples).slice(0, 3);
    },
    goTo: function(url) {
      window.location.href = url;
    }
  }
};
</script>