<style scoped lang="scss">
input:focus {
  outline: 0;
}
.site__body {
  padding: 10px 5px;
  @media (min-width: 768px) {
      padding: 20px 5px;
    }
}
</style>


<template>
  <div class="site__body">
    <div class="site__search flex flex-row mb-5 md:mb-8 p-2">
      <input
        class="z-index-0 bg-white focus:outline-0 rounded-lg py-2 px-4 block w-full appearance-none leading-normal"
        :style="`background-color: ${searchColor}; color: ${searchTextColor}`"
        type="text"
        :placeholder="searchPlaceholder"
        v-model="search"
      >
      <button
        class="py-1 px-2 mx-2 bg-gray-500 rounded text-white"
        :style="`background-color: ${searchButtonColor}; color: ${searchButtonTextColor}`"
        @click="search = ''"
        v-if="search !== ''"
      >Clear</button>
    </div>
    <CardRow v-if="cardLayout === 'row'"></CardRow>
    <CardCol v-if="cardLayout === 'col'"></CardCol>
  </div>
</template>

<script>
import CardRow from "@/components/Site/Card/CardRow.vue";
import CardCol from "@/components/Site/Card/CardCol.vue";

export default {
  name: "Body",
  components: {
    CardRow,
    CardCol
  },
  computed: {
    search: {
      get() {
        return this.$store.getters["search"];
      },
      set(val) {
        this.$store.dispatch("change", { key: "search", data: val });
      }
    },
    site: function() {
      return this.$store.getters["site"];
    },
    style: function() {
      return this.$store.getters["style"];
    },
    cardLayout: function() {
      return this.site.card;
    },
    searchPlaceholder: function() {
      return this.site.searchPlaceholder;
    },
    searchColor: function() {
      return this.style.searchColor;
    },
    searchTextColor: function() {
      return this.style.searchTextColor;
    },
    searchButtonColor: function() {
      return this.style.searchButtonColor;
    },
    searchButtonTextColor: function() {
      return this.style.searchButtonTextColor;
    }
  }
};
</script>