<style scoped lang="scss">
.site__card {
  margin-bottom: 15px;
  padding: 5px;
  .l--thumbnail {
    width: 200px;    
  }
  .l--details {
    background: #fff;
    padding: 15px;
    &:hover {
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    }
  }
}
</style>


<template>
  <div class="flex flex-row flex-wrap flex-grow">
    <div :class="`site__card ${cardCol} flex`" v-for="(item, index) in list" :key="index">
      <div
        :class="`l--details w-full flex flex-col justify-between ${cardRounded}`"
        :style="`background-color: ${cardColor};`"
      >
        <div class="mb-4" :style="`color: ${cardPrimaryColor};`">
          <img class="l--thumbnail mx-auto mb-2" :src="item.thumbnail.url">
          <p class="l--name font-bold text-l">{{item.name}}</p>
          <p class="l--tagline">{{item.tagline}}</p>
        </div>
        <span
          class="flex flex-row justify-start flex-wrap mb-2"
          :style="`color: ${cardSecondaryColor};`"
        >
          <p class="mb-0 mx-1 text-xs" v-for="(topic, index) in item.topics" :key="index">{{topic}}</p>
        </span>
        <div
          class="l--info flex flex-row justify-between items-end text-gray-600 text-sm"
          :style="`color: ${cardSecondaryColor};`"
        >
          <a
            :href="item.url"
            target="_blank"
            class="py-1 px-2 mx-2 bg-gray-200 rounded"
            :style="`background-color: ${cardButtonColor}; color: ${cardButtonTextColor}`"
          >View</a>
          <span>{{item.votesCount}} votes</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CardCol",
  computed: {
    list: function() {
      return this.$store.getters["list"];
    },
    site: function() {
      return this.$store.getters["site"];
    },
    style: function() {
      return this.$store.getters["style"];
    },
    cardCol: function() {
      let col = this.site.cardCol;
      if (col === "2") {
        return "w-full sm:w-6/12";
      } else if (col === "3") {
        return "w-full sm:w-4/12";
      } else if (col === "4") {
        return "w-full sm:w-4/12 md:w-3/12";
      }
      return "w-12/12";
    },
    cardColor: function() {
      return this.style.cardColor;
    },
    cardRounded: function() {
      return this.style.cardRounded;
    },
    cardPrimaryColor: function() {
      return this.style.cardPrimaryColor;
    },
    cardSecondaryColor: function() {
      return this.style.cardSecondaryColor;
    },
    cardButtonColor: function() {
      return this.style.cardButtonColor;
    },
    cardButtonTextColor: function() {
      return this.style.cardButtonTextColor;
    }
  }
};
</script>