<style scoped lang="scss">
.site__card {
  background: #fff;
  margin-bottom: 15px;
  padding: 15px;
  .l--thumbnail {
    width: 200px;
    // height: 200px;
    @media (min-width: 640px) {
      width: 90px;
      // height: 90px;
    }
  }
  .l--details {
    padding: 0px 5px;
    @media (min-width: 640px) {
      padding: 0px 20px;
    }
  }
  &:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  }
}
</style>


<template>
  <div>
    <div
      :class="`site__card flex flex-col sm:flex-row ${cardRounded}`"
      v-for="(item, index) in list"
      :key="index"
      :style="`background-color: ${cardColor};`"
    >
      <img class="l--thumbnail self-center mb-2" :src="item.thumbnail.url">
      <div class="l--details w-full flex flex-col justify-between">
        <div class="mb-4" :style="`color: ${cardPrimaryColor};`">
          <p class="l--name font-bold text-l">{{item.name}}</p>
          <p class="l--tagline">{{item.tagline}}</p>
        </div>
        <div
          class="l--info flex flex-col sm:flex-row justify-between md:items-center text-gray-600"
          :style="`color: ${cardSecondaryColor};`"
        >
          <span class="flex flex-row justify-start flex-wrap w-full sm:w-8/12">
            <p
              class="mb-2 md:mb-0 mx-1 text-xs"
              v-for="(topic, index) in item.topics"
              :key="index"
            >{{topic}}</p>
          </span>
          <span class="text-sm flex flex-row items-center justify-between">
            <a
              :href="item.url"
              target="_blank"
              class="py-1 px-2 mx-2 bg-gray-200 rounded"
              :style="`background-color: ${cardButtonColor}; color: ${cardButtonTextColor}`"
            >View</a>
            <span>{{item.votesCount}} votes</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CardRow",
  computed: {
    list: function() {
      return this.$store.getters["list"];
    },
    site: function() {
      return this.$store.getters["site"];
    },
    style: function() {
      return this.$store.getters["style"];
    },
    cardColor: function() {
      return this.style.cardColor;
    },
    cardRounded: function() {
      return this.style.cardRounded;
    },
    cardPrimaryColor: function() {
      return this.style.cardPrimaryColor;
    },
    cardSecondaryColor: function() {
      return this.style.cardSecondaryColor;
    },
    cardButtonColor: function() {
      return this.style.cardButtonColor;
    },
    cardButtonTextColor: function() {
      return this.style.cardButtonTextColor;
    }
  }
};
</script>