<style scoped lang="scss">
</style>

<template>
  <div></div>
</template>

<script>
export default {
  name: "",
  created: function() {
    return {};
  },
  data: function() {
    return {};
  },
  computed: {},
  methods: {}
};
</script>